body {
    font-family: 'Ubuntu';

}

/***************HEADER****************/

header {

    position: sticky;
    left: 0;
    top: 0;

    text-align: center;

}

.header__haut {

    border-radius: 20px;

    background-color: white;

    box-shadow: 0px 5px 5px grey;

}

.logo_perso {

    height: 100px;
    width: 100px;
    
    position: sticky;

}

.header__bas {

    list-style: none;
    border-radius: 20px;

    margin-left: auto;
    margin-right: auto;

    height: 60px;
    width: 75%;

    background-color: white;
    box-shadow: 0px 5px 5px grey;

    display: flex;
    align-items: center;
    justify-content: center;

}

.header__bas__line {

    text-align: center;
    margin: 0px 100px;

    padding: 10px 20px;

}

.header__bas__line:link, .header__bas__line:visited {

    color: white;
    background-color: gray;
    text-decoration: none;
    border-radius: 5px;

}

.header__bas__line:hover{

    color: white;
    background-color: #77B5FE;
    text-decoration: none;
    border-radius: 5px;

}

/***************FOOTER*****************/

footer {

    display: flex;
    align-items: center;
    box-shadow: 0px -5px 5px grey;   
    border-radius: 20px;

}

.footer__menu {

    list-style: none;
    margin: 30px auto;
    text-align: center;

}

.footer__menu li {

    margin: 30px auto;

}

.footer__menu__line {

    font-size: 17px;
    padding: 5px 10px;

}

.footer__menu__line:link, .footer__menu__line:visited {

    color: white;
    background-color: gray;
    text-decoration: none;
    border-radius: 5px;

}

.footer__menu__line:hover {

    color: white;
    background-color: #77B5FE;
    text-decoration: none;
    border-radius: 5px; 

}

.footer__citation {

    margin: 50px auto;

}

.footer__citation__quote {

    font-size: 22px;
    font-style: italic;

}

.footer__citation__author {

    text-align: right;

}

/***************ACCUEIL****************/

.accueil_site {

    margin: 10px;
    text-align: center;

}

.welcome {

    text-align: center;
    margin: 30px;
    font-size: 35px;

}

.presentation {

    text-align: center;
    font-size: 20px;
    margin: auto 100px;

}


.presentation__p {

    text-align: center;

}

.presentation__p a {

    padding: 3px;

}

.presentation__p > br {

    line-height: 30px;

}

.presentation__p__visio {

    text-align: center;
    font-size: 30px;

}

.annonce_collec {

    text-align: left;
    margin-left: 70px;

}

/***************LAST ADD****************/

.lastadd {

    display: flex;

}

.lastadd__element {

    text-align: center;
    padding: 10px;

}

.lastadd__element__img {

    height: 300px;
    border-radius: 20px;

}

.lastadd__element__title {

    font-size: 20px;
    margin: 20px;

}

/***************PAGE COLLECTION****************/

.collection {

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;

}

.collection__photo {

    text-align: center;
    padding: 10px;

}

.collection__photo__img {

    height: 600px;
    border-radius: 20px;

}

.collection__photo__name {

    font-size: 20px;
    margin: 20px;

}

/***************MATERIEL****************/

.materiel {

    display: flex;
    margin: 70px;
    margin-left: 300px;

}

.appareil {

    font-size: 40px;
    text-align: center;

}

.materiel__img {

    height: 400px;

}

.materiel__text {

    margin: auto;

}

.materiel__text__appareil {

    font-size: 40px;

}

.materiel__text__class {

    font-size: 25px;

}

.materiel__text__objectifs {

    list-style: none;

}

.materiel__text__objectif__line {

    font-size: 20px;

}

.materiel__text__objectif__line__m {

    font-size: 20px;
    color: grey;
    font-style: italic;

}

/***************MATERIEL****************/

.pagecontact {

    margin: 160px 0;

}

.contact {

    text-align: center;
    font-size: 40px;

}

.listcontact {

    display: flex;

    list-style: none;

}

.listcontact__data {

    display: flex;
    align-items: center;
    margin: 50px auto;

}

.listcontact__data__img {

    height: 100px;

}

.listcontact__data__txt {

    font-size: 35px;
    margin-left: 30px;

}

.listcontact__data__txt a:link, .listcontact__data__txt a:visited {

    text-decoration: underline;
    color: black;

}